{% extends "baseSol.html" %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block sidebar %}

<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="{% static 'dist/img/avatar04.png'%}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            {% if user.is_authenticated %}
            <a href="{#}" class="d-block">{{user.username}}</a>
            {% endif %}
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        </ul>
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'dist/img/nova.jpg'%}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="{% url 'novaSolicitacao' %}" class="d-block">Nova Requisição</a>
            </div>
        </div>
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'dist/img/lista1.jpg'%}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="{% url 'listaAdministrativo' %}" class="d-block">Requisições</a>
            </div>
        </div>
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'dist/img/logo.png'%}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="{% url 'materiaiscreate' %}" class="d-block">Adicionar Materiais</a>
            </div>
        </div>
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'dist/img/listamaterial.png'%}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="{% url 'materiaislist' %}" class="d-block">Lista de Materiais</a>
            </div>
        </div>
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="{% static 'dist/img/user.png'%}" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="{% url 'usuarioCreate' %}" class="d-block">Adicionar Usuário</a>
                </div>
            </div>
    </nav>
    <!-- /.sidebar-menu -->
</div>

{% endblock sidebar %}

{% block content %}
<section class="content">
    <!-- Default box -->

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Materiais</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Saúde</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">Educação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">DAES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu3">Oficina</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu4">Cozinha Piloto</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane container active" id="home">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Descrição do Material</th>
                                <th>Código Material</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for MaterialSaude in MateriaisSaude %}
                            <tr>
                                <td>{{MaterialSaude.descricao_material}}</td>
                                <td>{{MaterialSaude.codigo_material}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane container fade" id="menu1">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Descrição do Material</th>
                                <th>Código Material</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for MaterialEducacao in MateriaisEducacao %}
                            <tr>
                                <td>{{MaterialEducacao.descricao_material}}</td>
                                <td>{{MaterialEducacao.codigo_material}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane container fade" id="menu2">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Descrição do Material</th>
                                <th>Código Material</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for MaterialDaes in MateriaisDaes %}
                            <tr>
                                <td>{{MaterialDaes.descricao_material}}</td>
                                <td>{{MaterialDaes.codigo_material}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane container fade" id="menu3">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Descrição do Material</th>
                                <th>Código Material</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for MaterialOficina in MateriaisOficina %}
                            <tr>
                                <td>{{MaterialOficina.descricao_material}}</td>
                                <td>{{MaterialOficina.codigo_material}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane container fade" id="menu4">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Descrição do Material</th>
                                <th>Código Material</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for MaterialCozinha in MateriaisCozinha %}
                            <tr>
                                <td>{{MaterialCozinha.descricao_material}}</td>
                                <td>{{MaterialCozinha.codigo_material}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
